@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Space+Mono&display=swap");

:root {
    --font-poppins: 'Poppins', sans-serif;
    --color-card-title:#FDFEFE ;
    --color-card-subtitle:#ABB2B9 ;
    --color-card-submit:#DC7633  ;
    --color-title-modal:#000000;
    --color-subtitle-modal:#641E16;
    --color-close:#C0392B ;
    --color-body:#000000;
    --color-qualification:#212F3D;
    --color-qualification-activated:#F1C40F ;
    --size-card-title:18px;
    --size-card-subtitle:12px;
  }