
.container_app{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; 
    width: 100%;
    padding: 20px;
    height: 100vh;

    &_title{
        height: 10%;

        @media (max-width:375px),(max-width:475px){    
            padding:0px;
            height: 20%;
            margin-bottom: 20px;        
        
        }
    }

}

